spring:

  profiles:
    active: dev

  application:
    name: apiGateway

  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:9091
              - http://localhost:63342
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: authServer
          uri: lb://authService
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=0

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: "http://localhost:8761/eureka/"
    register-with-eureka: true
    fetch-registry: true


jwt:
  token:
    key: ${JWT_SECRET}

security:
  permit-all-paths:
    - /api/auth/login
    - /api/auth/logout
    - /api/auth/refresh-token
    - /swagger-ui/**
    - /swagger-ui.html
    - /v3/api-docs/**
    - /error/**
    - /ws/**
  internal-token: ${INTERNAL_TOKEN}
